.root {
  --min-width: 375px;
  --min-height: 545px;
}

.root {
  min-width: var(--min-width);
  min-height: var(--min-height);
}

.main {
  height: calc(100vh - 64px);
  display: flex;
  flex-grow: 1;
}
